<h2>Create New User</h2>



<form action="/users" method="post" accept-charset="utf-8">
  <%= render :partial => "layouts/authenticity" %>

  <label for="username">Username</label>
  <input type="text" name="user[username]" value="" id="username">

  <label for="password">Password</label>
  <input type="password" name="user[password]" value="" id="password">

  <p><input type="submit" value="Sign Up"></p>
</form>