<h2><%= action == "new_goal" ? "new goal" : "edit goal" %></h2>
<p>
  <form action=<%= "#{action}_url" method="post">>
    <%= render partial: "layouts/authenticity" %>

    <% if action == "edit_goal" %>
      <input type="hidden" name="_method" value="put">
    <% end %>

    <p>
    <label>Title
      <input type="text" name="goal[title]" value="<%= @goal.title %>">
    </label>
    </p>

    <p>
      <label>Type
        <%# need to re-write so that a variable is declared that does checked for the radio buttons %>
        <label>
          <input type="radio" name="goal[is_public]" value="true"
            <%= "checked" if !!@goal.is_public %>>
            Public
          </label>


        <label>
        <input type="radio" name="goal[is_public]" value="true"
          <%= "checked" if !@goal.is_public %>>
          Private
        </label>
      </p>


    <input >

</p>