<!DOCTYPE html>
<html>
<head>
  <title>To Do</title>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render :partial => "layouts/errors" %>

<% if logged_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<%= yield %>

</body>
</html>
